@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

/* .boom {
 color: #EEE4DA;
 color: #EEE1C9;
 color: #F3B27A;
 color: #F79665;
 color: #F77D5E;
 color: #F65F3A;
 color: #ECD072;
 color: #ffca1b;
 color: #ff6836;
 color: #ff3c00;
 color: #2fff00;
} */

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background: #FAF9EE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body::after {
    content: "2048";
    font-size: 16rem;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    left: 0%;
    transform: rotate(-90deg);
    color: rgba(0, 0, 0, 0.1);
}

.grid {
    width: calc(400px + 3*8px);
    height: calc(400px + 3*8px);
    background: #BBADA0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    padding: 6px;
    font-family: 'Roboto Slab', serif;
}

.grid div {
    width: 100px;
    height: 100px;
    background: #cfc5bc;
    margin: 3px;
    display: grid;
    place-items: center;
    border-radius: 6px;
    font-size: 3rem;
    font-weight: bold;
    color: #776E65;
}

.score-container {
    position: relative;
    bottom: 2rem;
    background: #776E65;
    padding: 16px 2.6rem;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    border-radius: 6px;
    letter-spacing: 1px;
    font-size: 2rem;
}

#results {
    font-size: 1.3rem;
    text-align: center;
}