@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

/**
2: #EEE4DA
4: #EEE1C9
8: #F3B27A
16: #F79665
32: #F77D5E
64: #F65F3A
128: #ECD072
256: #ecd072
512: #ff6836
1024: #ff3c00
2048: #2fff00
*/

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background: #FAF9EE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid {
    width: calc(400px + 3*8px);
    height: calc(400px + 3*8px);
    background: #BBADA0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    padding: 6px;
    font-family: 'Roboto Slab', serif;
}

.grid div {
    width: 100px;
    height: 100px;
    background: #cfc5bc;
    margin: 3px;
    display: grid;
    place-items: center;
    border-radius: 6px;
    font-size: 3rem;
    font-weight: bold;
    color: #776E65;
}

.score-container {
    position: relative;
    bottom: 2rem;
    background: #776E65;
    padding: 16px 2.6rem;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    border-radius: 6px;
    letter-spacing: 1px;
    font-size: 2rem;
}

#results {
    font-size: 1.3rem;
    text-align: center;
}